<html>
<head>
	<title>Flashcards</title>
	<link rel="stylesheet" href="/static/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" charset="utf-8"></script>
	<script src="/static/scripts/script.js" charset="utf-8"></script>
</head>
<body>
<!-- 	<header>
		<p>Flashcards</p>
	</header> -->
	<div id="cardArea">
		<div id="front"></div>
		<div id="back"></div>
	</div>
	<div id="buttonArea">
		<div class="button half" onclick="markIncorrect()" id="incorrectButton"><p class="buttonText">Incorrect</p></div>
		<div class="button half" onclick="markCorrect()" id="correctButton"><p class="buttonText">Correct</p></div>
		<div class="button full" onclick="flip()" id="flipButton"><p class="buttonText">Flip</p></div>
	</div>
	<footer>
		
	</footer>
</body>
</html>
